# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ConsoleApp1.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\user\source\repos\Sadna-13A\ConsoleApp1\.idea\.idea.ConsoleApp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
